.gpt3__possibility {
  font-family: var(--font-family);
  display: flex;
  column-gap: 5%;
  /* flex-wrap: wrap; */
}
.gpt3__possibility-image img {
  width: 100%;
}
.gpt3__possibility-image {
  flex: 1;
  width: 100%;
}
.gpt3__possibility-content {
  flex: 1;
  width: 100%;
}

.gpt3__possibility-content h4 {
  margin-top: 15%;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  color: #71e5ff;
}
.gpt3__possibility-content h4:last-child {
  margin-top: 5%;
  color: #ff8a71;
}
.gpt3__possibility-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */

  color: #81afdd;
}
.gpt3__possibility-content h1 {
  width: 80%;
  margin: 5% 0;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
}

/* ______________________ ADAPTIVE _________________ */
@media screen and (max-width: 1180px) {
  .gpt3__possibility {
    flex-direction: column;
  }
}
